
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebApplication4.Models.StudentModel;
<br />
<br />
<label> Examination</label>
<input type="text" name="Exam0" id="__uniqueidexam__" value="@Model.exam" />

<label>Percentage</label>
<input type="text" name="percent0" id="__uniqueidper__" value="@Model.percent" />

<label>
    Year
</label>
<input type="text" name="year0" id=" __uniqueidyear__" value="@Model.year" />