
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebApplication4.Models.StudentModel;
<label> Examination</label>
<input type="text" name="Exam0" value="@Model.exam" />

<label>Percentage</label>
<input type="text" name="percent0" value="@Model.percent" />

<label>
    Year
</label>
<input type="text" name="year0" value="@Model.year" />